body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../imagens/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide-container, .text-container, .gif-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para melhor leitura */
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.slide-container {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    position: relative;
}

.slide {
    display: none;
}

.slide img {
    height: auto;
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    border-radius: 10px;

}

.text-container {
    width: 80%;
    max-width: 600px;
    margin: 10px 0;
    text-align: center;
}

.gif-container{
    width: 80%;
    max-height: 400px;
    width: 435px;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    margin-right: 100px;
}

@media (max-width: 100px) {
    .slide-container, .text-container, .gif-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 100px) {
    .slide-container, .text-container, .gif-container {
        grid-template-columns: 1fr;
    }
}
